@use 'styles/typography';
@use 'styles/colors';
@use 'styles/mixins' as *;

.header {
  height: 58px;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color ease 0.3s;
  transition-delay: 0.1s;
  width: 100%;
  z-index: 3;
  background-color: rgb(255, 255, 255);

  @include large-tablet {
    height: 80px;
  }

  @include desktop {
    background-color: transparent;
  }

  &.fixed {
    background-color: rgb(255, 255, 255);
  }
  &.active {
    background-color: colors.$white;
    transition: background-color ease 0.3s;
    transition-delay: 0.1s;

    .headerMenu {
      top: 100%;
      transition: top ease 0.5s;
    }
  }
}

.headerContainer {
  @include container;

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  padding-top: 6px;
  z-index: 2;

  @include large-tablet {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.logo {
  display: block;
  width: 128px;
  height: 44px;

  @include large-tablet {
    width: 180px;
    height: 60px;
  }
}

.menuIcon {
  height: 24px;
  position: relative;
  transition-duration: 0.5s;
  width: 26px;

  .icon {
    height: 100%;
    position: absolute;
    top: 0;
    transition-duration: 0.5s;
    width: 100%;

    &::before,
    &::after {
      background-color: colors.$black;
      content: '';
      height: 2px;
      position: absolute;
      transition-duration: 0.5s;
      width: 24px;
    }

    &::before {
      top: 6px;
    }

    &::after {
      bottom: 6px;
    }
  }

  @include large-tablet {
    height: 32px;
    width: 36px;

    .icon {
      &::before,
      &::after {
        width: 30px;
      }

      &::before {
        top: 10px;
      }

      &::after {
        bottom: 10px;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.open .icon {
    transition-duration: 0.5s;

    &::before {
      transform: rotateZ(135deg) translate(1px, -6px);
    }

    &::after {
      transform: rotateZ(-135deg) translate(1px, 6px);
    }
  }
}

.headerMenu {
  background-color: colors.$white;
  left: 0;
  position: absolute;
  top: -1000px;
  transition: top ease-in 0.5s;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 100%;
    height: 100px;
    width: 90%;
    background: rgba(168, 143, 251, 0.3);
    filter: blur(57px);
    border-radius: 60%;
    transform: translate(-50%, -80%);
  }
}

.menuContainer {
  @include container;

  padding-bottom: 10px;
  padding-top: 40px;
  z-index: 1;

  @include large-tablet {
    padding-bottom: 86px;
    padding-top: 68px;
  }
}

.menuList {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @include large-tablet {
    align-items: center;
    flex-direction: row;
  }
}

.menuItem {
  margin-bottom: 42px;
  padding-right: 30px;
  position: relative;

  @include large-tablet {
    margin: 0;
    padding-right: 0;
  }

  &::after {
    background-color: colors.$black;
    border-radius: 50%;
    content: '';
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;

    @include large-tablet {
      bottom: -4px;
      left: 50%;
      top: initial;
      transform: translate(-50%, 100%);
    }
  }
}

.menuItemLink {
  text-align: right;
  text-decoration: none;
}

.menuItemText {
  position: relative;

  &::after {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    content: attr(data-text);
    opacity: 0;
    transition: all 0.3s ease-in;

    background-size: 100%;
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &:hover::after {
    left: -1px;
    opacity: 1;
  }
}
