@use 'styles/typography';
@use 'styles/colors';
@use 'styles/mixins' as *;


.header {
  position: fixed;
  top: 0;
  height: 58px;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: background-color ease .3s;
  transition-delay: .1s;

  &.active {
    background-color: colors.$white;
    transition: background-color ease .3s;
    transition-delay: .1s;

    .headerMenu {
      top: 100%;
      transition: top ease .5s;
      box-shadow: 0 26px 35px -28px rgba(168, 143, 251, 0.3);
    }
  }

  @include large-tablet {
    height: 80px;
  }
}
.headerContainer {
  @include container;

  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;align-items: center;
  justify-content: space-between;
  z-index: 2;

  @include large-tablet {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.logo {
  display: block;
  max-height: 34px;
  img {
    height: 100%;
    width: auto;
    display: block;
  }

  @include large-tablet {
    max-height: 45px;
  }
}

.menuIcon {
  position: relative;
  width: 26px;
  height: 24px;
  transition-duration: 0.5s;

  .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    &:before, &:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: colors.$black;
      content: "";
    }

    &:before {
      top: 6px;
    }

    &:after {
      bottom: 6px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.open .icon {
    transition-duration: 0.5s;

    &:before {
      transform: rotateZ(135deg) translate(1px, -6px);
    }

    &:after {
      transform: rotateZ(-135deg) translate(1px, 6px);
    }
  }

  @include large-tablet {
    width: 36px;
    height: 32px;

    .icon {
      &:before, &:after {
        width: 30px;
      }

      &:before {
        top: 10px;
      }

      &:after {
        bottom: 10px;
      }
    }
  }
}

.headerMenu {
  position: absolute;
  width: 100%;
  top: -1000px;
  left: 0;
  background-color: colors.$white;
  transition: top ease-in .5s;
}

.menuContainer {
  @include container;

  padding-top: 40px;
  padding-bottom: 10px;
  z-index: 1;

  @include large-tablet {
    padding-top: 68px;
    padding-bottom: 86px;
  }
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  @include large-tablet {
    flex-direction: row;
    align-items: center;
  }
}
.menuItem {
  position: relative;
  padding-right: 30px;
  margin-bottom: 42px;

  a {
    @extend %title-3;

    text-decoration: none;
    text-align: right;
  }

  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: colors.$black;

    @include large-tablet {
      bottom: -4px;
      left: 50%;
      top: initial;
      transform: translate(-50%, 100%);
    }
  }

  @include large-tablet {
    padding-right: 0;
    margin: 0;
  }
}
