@use 'styles/typography';
@use 'styles/colors';
@use 'styles/mixins' as *;

.header {
  background-color: rgb(255 255 255);
  box-shadow: 0 -5px 31px rgb(102 78 200 / 20%);
  height: 58px;
  left: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;

  @include large-tablet {
    height: 72px;
  }

  &.active {
    z-index: 999999;
    .headerContainer {
      background-color: colors.$white;
      transition: background-color ease 0.3s;
      transition-delay: 0.1s;
    }

    .headerMenu {
      opacity: 1;
      transform: translateY(58px);
      transition: transform ease 0.5s, opacity 0.5s ease-out;
    }
  }
}

.headerContainer {
  @include container;

  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
  padding-bottom: 6px;
  padding-top: 6px;
  transition: background-color ease 0.3s;
  transition-delay: 0.1s;
  z-index: 2;

  @include desktop {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.logo {
  display: block;
  height: 44px;
  width: 128px;

  @include large-tablet {
    height: 50px;
    width: 140px;
  }
}

.menuIcon {
  height: 24px;
  position: relative;
  transition-duration: 0.5s;
  width: 26px;

  @include desktop {
    display: none;
  }

  .icon {
    height: 100%;
    position: absolute;
    top: 0;
    transition-duration: 0.5s;
    width: 100%;

    &::before,
    &::after {
      background-color: colors.$black;
      content: '';
      height: 2px;
      position: absolute;
      transition-duration: 0.5s;
      width: 24px;
    }

    &::before {
      top: 6px;
    }

    &::after {
      bottom: 6px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.open .icon {
    transition-duration: 0.5s;

    &::before {
      transform: rotateZ(135deg) translate(1px, -6px);
    }

    &::after {
      transform: rotateZ(-135deg) translate(1px, 6px);
    }
  }
}

.headerMenu {
  background-color: colors.$white;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: transform ease-in 0.5s, opacity ease-out 0.5s;
  width: 100%;

  @include desktop {
    display: none;
  }

  &::after {
    background: rgb(168 143 251 / 30%);
    border-radius: 60%;
    content: '';
    filter: blur(57px);
    height: 100px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -80%);
    width: 90%;
    z-index: -1;
  }
}

.menuContainer {
  @include container;

  padding-bottom: 10px;
  padding-top: 20px;
  z-index: 1;

  @include large-tablet {
    padding-bottom: 60px;
    padding-top: 20px;
  }
}

.menuList {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menuItem {
  margin-bottom: 42px;
  position: relative;
  text-align: right;
  text-decoration: none;

  @include desktop {
    margin: 0;
    padding-right: 0;
  }

  &.active::after {
    background-color: colors.$black;
    border-radius: 50%;
    content: '';
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;

    @include large-tablet {
      bottom: -4px;
      left: 50%;
      top: initial;
      transform: translate(-50%, 100%);
    }
  }

  a {
    text-decoration: none;
  }
}

.menuItemText {
  position: relative;

  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 0;
    transition: all 0.3s ease-in;
    z-index: -1;
  }

  &:hover::after {
    left: -1px;
    opacity: 1;
  }
}

.menuDesktop {
  display: none;

  @include desktop {
    display: flex;
    gap: 54px;
  }
}

.dropdownButtonMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  padding: 12px 0 4px;
}

.dropdownButtonItem {
  display: block;
  padding: 12px 77px 12px 43px;
  position: relative;
  text-decoration: none;

  &::after {
    background-color: colors.$black;
    border-radius: 50%;
    content: '';
    height: 6px;
    left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
  }
}
