@use 'styles/typography' as *;
@use 'styles/mixins' as *;

.root {
  align-items: center;
  background-image: url('./images/bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 96%;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  @include small-tablet {
    background-size: auto 112%;
  }

  @include desktop {
    background-size: auto 140%;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  @extend %heading-2;

  font-size: 5vh;
  margin: 0;
  position: relative;
  text-align: center;

  @include small-tablet {
    @include heading-1;

    font-size: 7vh;
  }

  &::after {
    content: '...';
    position: absolute;
  }
}

.logo {
  height: 24vh;
  margin: 2.5vh 0;
  width: 24vh;

  @include small-tablet {
    height: 25vh;
    margin: 2.4vh 0;
    width: 25vh;
  }
}

.description {
  @extend %body-1;

  font-size: 2.5vh;
  margin: 0;
  max-width: 14em;
  text-align: center;

  @include small-tablet {
    @include body-1;

    font-size: 2.5vh;
    max-width: 20em;
  }
}
