@use 'styles/mixins' as *;

.root {
 display: flex;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
gap: 60px;

 @include desktop {
  flex-wrap: nowrap;
  gap: 120px;
 }
}

.text {
  max-width: 719px;
  text-align: center;
  flex-shrink: 2;

  @include desktop {
    &.left {
      margin-left: auto;
    }
  
    &.right {
      margin-right: auto;
      order: -1;
    }
  }

  @include desktop {
    text-align: left;
  }
}

.title {
  margin-bottom: 24px;

  @include mobile-only {
    font-size: 40px;
  }
}
