@use 'styles/animations';
@use 'styles/colors';
@use 'styles/mixins' as *;

.root {
  position: relative;
  text-align: center;
  z-index: 0;
}

.titles {
  padding: 0 20px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @include small-tablet {
    max-width: unset;
  }
}

.glitch {
  display: inline-block;
  position: relative;
  text-align: center;
}

.shadow {
  background: linear-gradient(180deg, #fafafa 0%, rgb(255 255 255 / 0%) 100%);
  background-color: #fafafac9;
  box-shadow: 0 0 60px 160px #fafafa;
  height: 80%;
  position: absolute;
  top: 0;
  max-width: 100vw;
  width: 100%;

  @include large-tablet {
    box-shadow: 0 0 100px 190px #fafafa;
    height: 50%;
  }
}
