@use 'styles/typography';
@use 'styles/mixins';
@use 'styles/colors';
@use 'styles/animations';

.h1 {
  @extend %heading-1;
}

.h2 {
  @extend %heading-2;
}

.h3 {
  @extend %heading-3;
}

.h4 {
  @extend %heading-4;
}

.title1 {
  @extend %title-1;
}

.title2 {
  @extend %title-2;
}

.title3 {
  @extend %title-3;
}

.body1 {
  @extend %body-1;
}

.body2 {
  @extend %body-2;
}

.body2landing {
  @extend %body-2-landing;
}

.paragraph1 {
  @extend %paragraph-1;
}

.caption1 {
  @extend %caption-1;
}

.caption2 {
  @extend %caption-2;
}

.headingXxl {
  @extend %heading-xxl;
}

.display1 {
  @extend %display-1;
}

.button1 {
  @extend %button-1;
}

.gradient {
  background: linear-gradient(
    270deg,
    #ff3f3f -1.98%,
    #feeb3c 20.51%,
    #71ff3f 41.91%,
    #3e8bff 63.31%,
    #e43eff 83.61%,
    #ff3e3e 101.71%
  );
  background-clip: text;
  background-clip: text;
  left: -1px;
  position: absolute;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  top: 0;
  z-index: -1;
}

.glitch {
  display: inline-block;
  position: relative;
  text-align: center;
}

.glitch:global(.start-animation) {
  &::before,
  &::after {
    background-color: inherit;
    content: attr(data-text);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::before {
    animation: glitch-anim-2 3s 1 linear alternate-reverse;
    left: 3px;
    opacity: 0;
    text-shadow: -3px 0 2px #a8e063;
  }

  &::after {
    animation: glitch-anim 2.5s 1 linear alternate-reverse;
    left: -3px;
    opacity: 0;
    text-shadow: -3px 0 2px #a88ffb;
  }
}
