@use 'styles/mixins' as *;
@use 'styles/animations';
@use 'styles/colors';

.mainSlide {
  @include container;

  align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 56px;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 124px;

  @include mobile-only {
    padding-top: 60px;
  }
}

.heading {
  position: relative;

  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    left: calc(50% - 1px);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }

  &.main {
    margin: 0 auto;
    max-width: 613px;
    text-align: center;
    text-transform: uppercase;

    @include large-tablet {
      margin: 0;
    }
  }
}

.marqueeWrapper {
  padding-top: 40px;
}

.marquee {
  --webkit-transform-style: preserve-3d;
  --webkit-backface-visibility: hidden;

  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.chipsWrapper {
  display: flex;
  gap: 32px;
  padding: 0 32px 32px 0;

  &.last {
    padding-bottom: 40px;
  }
}

.chip {
  background: colors.$white;
  border-radius: 16px;
  box-shadow: 0 14px 28px rgb(102 78 200 / 12%);
  padding: 16px 20px;
}

.descriptionWrapper {
  @include container;

  padding-bottom: 70px;
  padding-top: 56px;

  @include large-tablet {
    padding-bottom: 140px;
  }
}

.appchainDescription {
  margin: 0 auto;
  max-width: 971px;
  text-align: center;
}

.cardsWrapper {
  @include container;

  align-items: center;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 80px 0;

  @include desktop {
    padding: 140px 0;
  }
}

.slide {
  @include container;

  padding-bottom: 228px;
  padding-top: 140px;

  @include mobile-only {
    font-size: 30px;
    padding-bottom: 80px;
    padding-top: 60px;
  }
}

.bottomTitle {
  margin: 0 auto;
  max-width: 1038px;
  text-align: center;
}
