@use 'styles/mixins' as *;
@use 'styles/animations';
@use 'styles/colors';

.mainSlide {
  @include container;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include large-tablet {
    justify-content: space-between;
    max-width: 1440px;
    flex-direction: row;
    margin: 0 auto;
  }

  span {
    flex-shrink: 0.3;
  }
}

.heading {
  position: relative;


  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 50%;
    z-index: -1;
    width: 100%;
    left: calc(50% - 1px);
    transform: translate(-50%, -50%);
  }

  &.main {
    text-align: center;
    text-transform: uppercase;
    max-width: 613px;
    margin: 0 auto;
  
    @include large-tablet {
      text-align: left;
      margin: 0;
    }
  }
}

.appchainDescription {
  max-width: 761px;
  margin-top: 24px;
  text-align: center;

  @include large-tablet {
    text-align: left;
  }
}

.marqueeWrapper {
  padding-top: 40px;
}

.marquee {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  --webkit-transform-style: preserve-3d;
  --webkit-backface-visibility: hidden;
}

.chipsWrapper {
  display: flex;
  gap: 32px;
  padding: 0px 32px 32px 0;

  &.last {
    padding-bottom: 40px;
  }
}

.chip {
padding: 16px 20px;
background: colors.$white;
box-shadow: 0px 14px 28px rgba(102, 78, 200, 0.12);
border-radius: 16px;
}

.cardsWrapper {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 80px 0;

  @include desktop {
    padding: 100px 0;
  }
}

.slide {
  @include container;
  padding-top: 100px;
  padding-bottom: 228px;


  @include mobile-only {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.bottomTitle {
  max-width: 1038px;
  text-align: center;
  margin: 0 auto;
}
