@use 'styles/mixins' as *;
@use 'styles/animations' as *;
@use 'styles/colors';

.cta {
  position: relative;
  padding-bottom: 0px;
  padding-top: 90px;
  max-width: 1540px;
  margin: 0 auto;
  width: 100%;

  @include small-tablet {
    padding-top: 110px;
  }

  @include large-tablet {
    padding-top: 140px;
  }

}

.ctaContainer {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include large-desktop {
    align-items: flex-start;
  }
}

.ctaTitle {
  margin-bottom: 50px;
}

.ctaText {
  text-align: center;

  @include large-desktop {
    text-align: left;
  }
}

.ctaBtn {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @include small-tablet {
    max-width: 108px;
  }
}

.ctaBg {
  position: absolute;
  bottom: -13%;
  right: 0;
  transform: scaleX(-1);

  @include small-tablet {
    bottom: 5%;
    max-width: 90%;
  }

  :global(.shape-paths) {
    @include animation-lines(7, 7);
  }

  :global(.shape-circles) {
    @include animation-circles(9, 25);
  }
}

.emailInput {
  width: 100%;

  @include small-tablet {
    max-width: 336px;
  }

  @include large-desktop {
    width: 336px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 8px;
  margin-bottom: 20px;
  flex-grow: 100%;
  justify-content: center;

  @include large-desktop {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;

  @include large-desktop {
    flex-direction: row;
  }
}