@use 'styles/colors';
@use 'styles/mixins' as *;

.swiperWrapper {
  height: 310px;
  margin-bottom: 124px;
  position: relative;
  width: 100%;

  @include mobile-only {
    margin-bottom: 80px;
  }

  &.vertical {
    height: 810px;
    max-width: 460px;

    .arrow {
      bottom: unset;
      left: unset;
      right: -60px;
      top: 50%;

      &Next {
        transform: rotate(90deg) translateX(50px);
      }

      &Prev {
        transform: rotate(90deg) translateX(-50px);
      }
    }
  }
}

.slider {
  height: 100%;
  padding: 30px 0 !important;
  position: relative;
  width: 100%;

  &.vertical {
    padding: 0 30px !important;
    width: 100%;

    .item {
      max-width: 100%;
    }
  }
}

.item {
  align-items: center;
  background: colors.$white;
  border-radius: 8px;
  box-shadow: 0 0 30px rgb(150 150 150 / 25%);
  display: flex;
  height: 310px;
  justify-content: center;
  max-width: 275px;
  position: relative;
  width: 100% !important;
}

.bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  @for $i from 1 through 6 {
    &-#{$i} {
      background: url('./images/slider-#{$i}.svg') no-repeat center;
      background-size: cover;
    }
  }
}

.arrow {
  color: colors.$black;
  cursor: pointer;
  height: 20px;
  left: 50%;
  position: absolute;
  top: calc(100% + 40px);
  width: 30px;
  z-index: 9;

  @include mobile-only {
    height: 12px;
    top: calc(100% + 20px);
    width: 20px;
  }

  & defs {
    display: none;
  }

  &Next {
    transform: translateX(70px);
  }

  &Prev {
    transform: translateX(-70px);
  }

  &:hover {
    defs {
      display: initial;
    }
  }
}

.text {
  @include mobile-only {
    font-size: 18px;
    line-height: 22px;
  }

  @include small-tablet-only {
    font-size: 26px;
    line-height: 32px;
  }
}
