@use 'styles/mixins' as *;
@use 'styles/animations';
@use 'styles/colors';

.layout {
  @include container;

  padding-bottom: 70px;

  @include desktop {
    padding-bottom: 140px;
  }
}

.firstSlide {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 70px 0 141px;
  position: relative;
  width: 100%;

  @include large-tablet {
    flex-direction: row;
    padding-top: 62px;
  }

  @include desktop {
    gap: 40px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
  }

  span {
    flex-shrink: 0.3;
  }
}

.heading {
  position: relative;

  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    left: calc(50% - 1px);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }

  &.main {
    max-width: 613px;
    text-align: center;
    text-transform: uppercase;

    @include large-tablet {
      text-align: left;
    }
  }
}

.stickyWrapper {
  display: flex;
  gap: 67px;
  justify-content: center;
  padding-bottom: 240px;
  position: relative;

  @include desktop {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    padding-bottom: 140px;
    width: 100%;
  }
}

.textBlocksWrapper {
  display: flex;
  flex-direction: column;
  gap: 240px;

  @media (min-width: 2000px) {
    gap: 350px;
  }
}

.tileWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 91px 0;
  position: relative;

  @include desktop {
    align-items: flex-start;
    max-width: 800px;

    * {
      text-align: left;
    }
  }

  * {
    text-align: center;
  }
}

.stickyElement {
  display: none;
  position: sticky;
  top: calc(25%);

  @include desktop {
    display: block;
    height: 300px;
    max-width: 890px;
    width: 100%;
  }
}

.stickySlide {
  max-width: 100%;
  position: absolute;
}

.tileAnimationMobile {
  position: absolute;
  top: calc(100% + 44px);
  transform: translateY(-50%);

  @include desktop {
    display: none;
  }
}

.slide {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 67px;
  justify-content: center;
  padding: 140px 0;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
  }
}

.lottieWrapper {
  max-width: 848px;
  order: 1;
  @include desktop {
    order: 0;
  }
}

.slideWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;

  @include desktop {
    max-width: 485px;
    text-align: left;
  }
}
