@use 'styles/mixins' as *;
@use 'styles/animations';
@use 'styles/colors';

.layout {
  @include container;
}

.firstSlide {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
  padding: 70px 0 141px;
  justify-content: center;
  align-items: center;
  position: relative;

  @include large-tablet {
    flex-direction: row;
    padding-top: 62px;
  }

  @include desktop {
    gap: 108px;
  }
}
.heading {
  position: relative;
 
  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 50%;
    z-index: -1;
    width: 100%;
    left: calc(50% - 2px);
    transform: translate(-50%, -50%);
  }

  &.main {
    text-align: center;
    text-transform: uppercase;
    max-width: 613px;
  
    @include large-tablet {
      text-align: left;
    }
  }

}


.stickyWrapper {
  display: flex;
  position: relative;
  gap: 67px;
  padding-bottom: 240px;
  justify-content: center;

  @include desktop {
    padding-bottom: 140px;
  }
}

.textBlocksWrapper {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.tileWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 91px 0;
  position: relative;
  align-items: center;

  * {
    text-align: center;
  }

  @include desktop {
    max-width: 559px;
    align-items: flex-start;

    * {
      text-align: left;
    }
  }
}

.stickyElement {
  position: sticky;
  top: 300px;
  height: fit-content;
  display: none;

  @include desktop {
    display: block;
    width: 614px;
  }
}

.tileAnimationMobile {
  position: absolute;
  top: calc(100% + 44px);
  transform: translateY(-50%);

  @include desktop {
    display: none;
  }
}

.appStoreSlide {
  display: flex;
  gap: 67px;
  align-items: center;
  justify-content: center;
  padding: 140px 0;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
.lottieWrapper {
  order: 1;
  max-width: 614px;
  @include desktop {
    order: 0;
  }
}
.appStoreWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;

  @include desktop {
    max-width: 1000px;
    text-align: left;
  }
}

.bottomTitle {
  max-width: 1038px;
  margin: 140px auto 52px;
  text-align: center;

  @include mobile-only {
    font-size: 30px;
    margin-top: 60px;
  }
}
