.root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  border: 1px solid #666;
  border-radius: 8px;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 0 12px;
  width: 100%;

  &:not(:placeholder-shown):not(:focus):valid {
    border-color: #a88ffb;
  }

  &:hover {
    border-color: #664ec8;
  }

  &:focus {
    border-color: #a88ffb;
  }

  &::placeholder {
    color: #666;
  }
}

.helper {
  position: absolute;
  top: calc(100% + 18px);
  transform: translateY(-50%);
}
