@use 'styles/mixins' as *;
@use 'styles/colors';

.root {
  align-items: flex-end;
  display: flex;
  height: 248px;
  justify-content: flex-end;
  position: relative;
  width: 224px;
}

.content {
  align-items: center;
  background-color: colors.$white;
  border-radius: 50%;
  box-shadow: -26px 25px 31px rgb(102 78 200 / 12%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 204px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 204px;
}

.photo {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
}

.position {
  color: colors.$purple-dark;
}

.decoration {
  left: 0;
  position: absolute;
  top: 10px;
}
