@use 'styles/mixins' as *;
@use 'styles/colors';
@use 'styles/typography';

.footer {
  background-color: colors.$black;
  padding: 56px 0 36px;
}

.logo {
  width: 175px;
  height: 65px;
}

.container {
  @include container;
}

.footerTop {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include large-tablet {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu {
  margin: 25px 0 50px;
}

.social {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 70px 0;

  @include large-tablet {
    margin: 0;
  }
}

.socialItem {
  margin-left: 40px;

  &:first-child {
    margin: 0;
  }
}

.socialIcon {
  color: colors.$white;
  height: 24px;
  width: 24px;

  path[opacity='0'] {
    transform: translate(1px, -1px);
    transition: all 0.3s ease-in-out;
  }

  &:hover path[opacity='0'] {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;

  @include small-tablet {
    justify-content: flex-start;
  }

  @include large-tablet {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: flex-end;
  }
}

.menuItem {
  margin: 0 0 24px;

  @include mobile-only {
    width: 50%;
  }

  @include small-tablet {
    width: 35%;
  }

  @include large-tablet {
    margin: 0;
    width: auto;
  }

  @include desktop {
    margin-left: 40px;
  }

  &:first-child {
    margin: 0;
  }
}

.link {
  text-decoration: none;
}

.linkText {
  color: colors.$white;
  position: relative;

  &::after {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    content: attr(data-text);
    opacity: 0;

    background-size: 100%;
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &:hover::after {
    left: -1px;
    opacity: 1;
  }
}

.footerBottom {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include mobile-only {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

.copyright {
  color: colors.$white;

  @include mobile-only {
    margin-top: 20px;
  }
}

.bottomLinks {
  display: flex;
  list-style: none;
}

.bottomLinkItem {
  &:last-child {
    margin-left: 34px;
  }
}

.bottomLinkText {
  @extend %caption-2;

  color: colors.$white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
