@use 'styles/mixins' as *;
@use 'styles/colors';
@use 'styles/typography';

.footer {
  background-color: colors.$black;
  padding: 56px 0 36px;
  z-index: 999;
  position: relative;
}

.logo {
  flex-shrink: 0;
  position: relative;
  

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: colors.$black;
    bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: colors.$black;
    top: 0;
    z-index: 1;
  }

  &.mobile {
    @include desktop {
      display: none;
    }
  }

  &.desktop {
    display: none;
    @include desktop {
      display: block;
    }
  }
}

.container {
  @include container;
}

.footerTop {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include large-tablet {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: flex-end;
  }
}

.menu {
  margin: 25px 0 50px;

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.social {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 70px 0;

  @include large-tablet {
    margin: 0;
  }
}

.socialItem {
  margin-left: 40px;

  &:first-child {
    margin: 0;
  }
}

.socialIcon {
  color: colors.$white;
  height: 24px;
  width: 24px;

  path[opacity='0'] {
    transform: translate(1px, -1px);
    transition: all 0.3s ease-in-out;
  }

  &:hover path[opacity='0'] {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  width: 100%;

  @include small-tablet {
    justify-content: flex-start;
  }

  @include large-tablet {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: flex-end;
  }
}

.menuItem {
  margin: 0 0 24px;

  @include mobile-only {
    width: 50%;
  }

  @include small-tablet {
    width: 35%;
  }

  @include large-tablet {
    margin: 0;
    width: auto;
  }

  @include desktop {
    margin-left: 40px;
  }

  &:first-child {
    margin: 0;
  }

  &.mobileOnly {
    @include large-tablet {
      display: none;
    }
  }
}

.link {
  text-decoration: none;
}

.linkText {
  color: colors.$white;
  position: relative;
  font-weight: 400;

  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-clip: text;
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 0;
    z-index: -1;
    transition: opacity 0.3s ease-out;
  }

  &:hover::after {
    left: -0.5px;
    opacity: 1;
  }
}

.footerBottom {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include mobile-only {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}

.copyright {
  color: colors.$white;

  @include mobile-only {
    margin-top: 20px;
  }
}

.bottomLinks {
  display: flex;
  list-style: none;
}

.bottomLinkText {
  @extend %caption-2;

  color: colors.$white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.dropdownButton {
  display: none;

  @include large-tablet {
    display: block;
  }
}

.dropdownButtonMenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  padding: 12px 0 4px;
}

.dropdownButtonItem {
  display: block;
  padding: 12px 77px 12px 43px;
  position: relative;
  text-decoration: none;

  &::after {
    background-color: colors.$black;
    border-radius: 50%;
    content: '';
    height: 6px;
    left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
  }
}

.menuItemText {
  position: relative;

  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 0;
    transition: all 0.3s ease-in;
    z-index: -1;
  }

  &:hover::after {
    left: -0.5px;
    opacity: 1;
  }
}

.footerMediaWrapper {
  background: linear-gradient(179.74deg, #59c0cb -70.7%, #dbfcef 97.64%);
  display: flex;
  height: 140px;
  justify-content: center;
  margin-bottom: 0;
  overflow: visible;
  position: relative;
  width: 100%;
  z-index: 999;

  span {
    overflow: visible !important;
  }
}

.mountain {
  transform: translate(-50%, 14px);
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 100%;
  max-width: 510px;
}

.cloud {
  position: absolute;
  transform: translateY(-50%);
  width: 130px;

  @include small-tablet {
    width: 200px;
  }

  @include large-tablet {
    width: 282px;
  }

  &.left {
    left: 5%;
    top: 30%;

    @include small-tablet {
      left: 20%;
      top: 10%;
      transform: translate(-50%);
    }

    @include desktop {
      left: 30%;
    }
  }

  &.right {
    left: 60%;
    top: 20%;

    @include small-tablet {
      left: 72%;
      top: 10%;
      transform: translate(-50%);
    }

    @include desktop {
      right: 8%;
      top: 8%;
    }
  }
}
