@use 'styles/mixins' as *;

.container {
  align-items: center;
  background-image: url('./images/bg.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 200%;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  @include large-tablet {
    background-position: left bottom;
    background-size: 100%;
  }
}

.container {
  text-align: center;

  .text {
    margin: 40px 0 24px;
  }
}
