@use 'styles/mixins' as *;
@use 'styles/animations' as *;
@use 'styles/colors';

.cta {
  position: relative;
  padding-bottom: 220px;
  padding-top: 80px;

  @include small-tablet {
    padding-bottom: 250px;
    padding-top: 110px;
  }

  @include large-tablet {
    padding-bottom: 280px;
    padding-top: 140px;
  }
}

.ctaContainer {
  @include container;
}

.ctaTitle {
  margin-bottom: 50px;
  text-align: left;
}

.ctaText {
  margin-bottom: 50px;
}

.ctaBtn {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @include small-tablet {
    max-width: 108px;
  }
}

.ctaBg {
  position: absolute;
  bottom: -13%;
  right: 0;
  transform: scaleX(-1);

  @include small-tablet {
    bottom: 5%;
    max-width: 90%;
  }

  :global(.shape-paths) {
    @include animation-lines(7, 7);
  }

  :global(.shape-circles) {
    @include animation-circles(9, 25);
  }
}

.emailInput {
  width: 100%;

  @include small-tablet {
    max-width: 256px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0 8px;
  margin-bottom: 20px;
}
