@use 'styles/mixins' as *;
@use 'styles/animations';
@use 'styles/colors';

.layout {
  padding-bottom: 140px;
}

.bannerTitle {
  padding-top: 80px;
}

.heroImage {
  margin-top: 170px;
  z-index: -1;

  @include small-tablet {
    margin-top: 10px;
  }

  @include large-tablet {
    margin-top: -60px;
  }

  @include desktop {
    margin-top: -80px;
  }
}

.contentContainer {
  @include container;

  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 140px 0 72px;
  max-width: 1098px;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
