@use 'styles/mixins' as *;
@use 'styles/animations' as *;
@use 'styles/colors';

.layout {
  overflow-x: hidden;

  .sectionTitle {
    margin-bottom: 72px;

    @include small-tablet-only {
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 56px;
    }

    @include mobile-only {
      font-size: 34px;
      line-height: 44px;
      margin-bottom: 56px;
    }
  }

  .sectionDescription {
    @include small-tablet-only {
      font-size: 20px;
      line-height: 30px;
    }

    @include mobile-only {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.container {
  @include container;
}

.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bannerText {
  text-align: center;
  max-width: 584px;
  padding: 0 24px;
  margin-bottom: 10%;
}

.bannerTitle {
  margin-bottom: 40px;
  text-transform: uppercase;
  transition: opacity ease-in-out 2s;

  @include mobile-only {
    font-size: 42px;
    letter-spacing: 0.12em;
    margin-bottom: 14px;
  }
}

.bannerDescription {
  @include mobile-only {
    font-size: 22px;
    letter-spacing: 0.02em;
  }
}

.bannerBg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -53%);
  height: 170vh;

  :global(.banner-rects) {
    @include animation-hero-rects(2.5, 16);
  }

  :global(.banner-circles) {
    @include animation-circles(9, 90);
  }
}

.about {
  @include container;

  padding-bottom: 50px;
  padding-top: 80px;

  @include small-tablet {
    padding-bottom: 70px;
    padding-top: 110px;
  }

  @include large-tablet {
    padding-bottom: 70px;
    padding-top: 140px;
  }

  .aboutText {
    margin-bottom: 24px;

    @include desktop {
      margin-bottom: 32px;
    }
  }

  .aboutCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 72px;

    @include small-tablet-only {
      margin-top: 56px;
    }

    @include mobile-only {
      margin-top: 24px;
    }
  }

  .aboutCard {
    width: 45%;
    max-width: 300px;
    padding: 45px 10px 35px;
    box-shadow: 0 0 21px rgba(226, 226, 226, 0.25),
      0 10px 13px -7px rgb(168 143 251 / 30%);
    border-radius: 16px;
    margin-bottom: 70px;
    text-align: center;

    @include large-tablet {
      width: 30%;
    }

    @include small-tablet-only {
      margin-bottom: 40px;
    }

    @include mobile-only {
      padding: 20px;
      margin-bottom: 24px;
    }
  }

  .aboutCardTitle {
    @include mobile-only {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .cardIcon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;

    @include mobile-only {
      width: 48px;
      height: 48px;
      margin-bottom: 12px;
    }
  }
}

.features {
  @include container;

  padding-bottom: 80px;
  padding-top: 80px;

  @include small-tablet {
    padding-bottom: 110px;
    padding-top: 110px;
  }

  @include large-tablet {
    padding-bottom: 140px;
    padding-top: 140px;
  }

  .featuresContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;

    @include desktop {
      flex-direction: row;
    }
  }

  .featuresList {
    width: 100%;

    @include desktop {
      max-width: 620px;
      width: 55%;
    }
  }

  .featuresListItem {
    margin-bottom: 56px;

    @include mobile-only {
      margin-bottom: 40px;
    }

    @include small-tablet-only {
      margin-bottom: 40px;
    }

    &:last-child {
      margin: 0;
    }
  }

  .itemTitle {
    margin-bottom: 16px;

    @include large-tablet {
      margin-bottom: 24px;
    }

    @include mobile-only {
      font-size: 24px;
      line-height: 32px;
    }
    @include small-tablet-only {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .itemText {
    @include mobile-only {
      font-size: 20px;
      line-height: 30px;
    }
    @include small-tablet-only {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.governance {
  @include container;

  padding-bottom: 80px;
  padding-top: 80px;

  @include small-tablet {
    padding-bottom: 110px;
    padding-top: 110px;
  }

  @include large-tablet {
    padding-bottom: 140px;
    padding-top: 140px;
  }

  .governanceWrapper {
    padding-left: 0;
    padding-right: 0;

    @include desktop {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  .governanceList {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .governanceListItem {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 100%;
    padding-right: 10px;

    @include large-tablet {
      width: 50%;
    }
  }

  .governanceIcon {
    padding: 18px;
    box-shadow: -26px 25px 31px rgba(102, 78, 200, 0.12);
    border-radius: 16px;

    svg {
      width: 52px;
      height: 52px;
    }

    @include mobile-only {
      box-shadow: -16px 16px 31px rgba(102, 78, 200, 0.12);
      padding: 12px;

      svg {
        width: 38px;
        height: 38px;
      }
    }

    @include desktop {
      padding: 25px;

      svg {
        width: 70px;
        height: 70px;
      }
    }
  }

  .governanceListText {
    margin-left: 12px;

    @include mobile-only {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.02em;
    }
  }
}

.polkadot {
  position: relative;

  @include large-tablet {
    background-size: auto;
  }

  .content {
    @include container;

    padding-bottom: 170px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include small-tablet {
      padding-top: 110px;
    }

    @include large-tablet {
      padding-bottom: 260px;
      padding-top: 140px;
      flex-direction: row;
    }
  }

  .text {
    width: 100%;
    margin-bottom: 65px;

    @include large-tablet {
      width: 70%;
      margin-right: 48px;
      margin-bottom: 0;
      max-width: 650px;
    }
  }

  .polkadotTitle {
    @include large-tablet {
      text-align: left;
    }
  }
}

.polkadotBg {
  position: absolute;
  left: 0;
  bottom: -10%;

  @include large-tablet {
    max-width: 90%;
  }

  :global(.shape-paths) {
    @include animation-lines(7, 7);
  }

  :global(.shape-circles) {
    @include animation-circles(9, 25);
  }
}

.team {
  @include container;

  padding-bottom: 80px;
  padding-top: 80px;

  @include small-tablet {
    padding-bottom: 110px;
    padding-top: 110px;
  }

  @include large-tablet {
    padding-bottom: 140px;
    padding-top: 140px;
  }

  .teamList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -30px;

    @include desktop {
      margin: 0 -20px;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .teamCard {
    margin: 20px 20px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 21px rgba(226, 226, 226, 0.25),
      0 10px 13px -7px rgb(168 143 251 / 30%);
    border-radius: 16px;
    max-width: 260px;

    &:hover {
      box-shadow: 0 0 30px rgba(168, 143, 251, 0.3);
    }

    @include large-tablet {
      margin: 0 36px 72px;
    }
    @include desktop {
      margin: 0 20px;
    }
  }
  .itemImage {
    border: 1px solid colors.$grey-3;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto 14px;
    overflow: hidden;
  }

  .teamCardTitle {
    margin-bottom: 12px;
  }

  .teamCardText {
    margin-bottom: 15px;
  }

  .cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    svg {
      color: colors.$black;
      width: 18px;
      margin-right: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.teamSocialIcon {
  width: 24px;
  height: 24px;
}

.temaSocialLinks {
  display: flex;
  justify-content: center;
}

.infographic {
  width: 100%;
  max-width: 456px;

  @include large-tablet {
    max-width: 360px;
  }

  @include large-desktop {
    max-width: 456px;
  }

  svg {
    width: 100%;
  }
}
