$white: #fff;
$black: #000;
$purple-light: #a88ffb;
$purple-dark: #664ec8;
$grey: #c8c8c8;
$red: #FF3F3F;
$yellow: #FEEB3C;
$green: #71FF3F;
$blue: #3E8BFF;
$purple: #E43EFF;

// Font
$font-primary: #000;
