$white: #fff;
$black: #000;
$purple-light: #a88ffb;
$purple-dark: #664ec8;
$grey: #c8c8c8;
$grey-dark: #b4b4b4;
$grey-3: #d4d4d4;
$red: #ff3f3f;
$yellow: #feeb3c;
$green: #71ff3f;
$blue: #3e8bff;
$purple: #e43eff;
$red-dark: #ff3e3e;

// Font
$font-primary: #000;

// Shadow
$primary-btn-box-shadow: rgba(82, 82, 82, .3);


// Additional
$grey-1: #FAFAFA;
$grey-2: #F5F2FF;
$black-1: #292D32;