$white: #fff;
$black: #000;
$purple-light: #a88ffb;
$purple-dark: #664ec8;
$grey: #c8c8c8;
$grey-dark: #B4B4B4;
$red: #ff3f3f;
$yellow: #FEEB3C;
$green: #71FF3F;
$blue: #3E8BFF;
$purple: #E43EFF;
$red-dark: #FF3E3E;

// Font
$font-primary: #000;


// Shadow
$primary-btn-box-shadow: rgba(82, 82, 82, 0.3);
