@use 'colors';
@use 'fonts';
@use 'breakpoints';

@mixin typography(
  $font-size,
  $font-family: fonts.$main,
  $font-weight: normal,
  $color: colors.$font-primary
) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
}

// breakpoints exclusive
@mixin mobile-only {
  @media (max-width: #{breakpoints.$screen-xs - 1}px) {
    @content;
  }
}

@mixin small-tablet-only {
  @media (min-width: #{breakpoints.$screen-xs}px) and (max-width: #{breakpoints.$screen-sm - 1}px) {
    @content;
  }
}

@mixin large-tablet-only {
  @media (min-width: #{breakpoints.$screen-sm}px) and (max-width: #{breakpoints.$screen-md - 1}px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{breakpoints.$screen-xs}px) and (max-width: #{breakpoints.$screen-md - 1}px) {
    @content;
  }
}

// breakpoints cascading

@mixin large-desktop {
  @media (min-width: #{breakpoints.$screen-lg}px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{breakpoints.$screen-md}px) {
    @content;
  }
}

@mixin large-tablet {
  @media (min-width: #{breakpoints.$screen-sm}px) {
    @content;
  }
}

@mixin small-tablet {
  @media (min-width: #{breakpoints.$screen-xs}px) {
    @content;
  }
}

// Container

@mixin container {
  --global-padding: 140px;

  margin-left: auto;
  margin-right: auto;
  max-width: #{breakpoints.$screen-lg}px;
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
  position: relative;
  width: 100%;
  z-index: 2;

  @include mobile-only {
    --global-padding: 24px;
  }

  @include small-tablet {
    --global-padding: 44px;
  }

  @include large-tablet {
    --global-padding: 72px;
  }

  @include desktop {
    --global-padding: 140px;
  }
}
