@use 'styles/colors';

:root {
  --theme-main-bg: #{colors.$white};
  --theme-text-primary: #{colors.$font-primary};
  --theme-button-primary-bg: linear-gradient(90deg,
    #{colors.$purple-dark} 0%,
    #{colors.$purple-light} 100%
  );
  --theme-button-primary-color: #{colors.$white};
  --theme-button-primary-shadow: #{colors.$primary-btn-box-shadow};
}
