@use 'fonts';
@use 'mixins';

@mixin heading-splash-1 {
  @include mixins.typography(72px, $font-weight: 700);

  line-height: 1.38;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@mixin heading-splash-2 {
  @include mixins.typography(48px, $font-weight: 500);

  line-height: 1.25;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

@mixin body-splash-1 {
  @include mixins.typography(24px, $font-weight: 500);

  line-height: 1.5;
  letter-spacing: 0.02em;
}

@mixin body-splash-2 {
  @include mixins.typography(20px, $font-weight: 500);

  line-height: 1.4;
  letter-spacing: 0.02em;
}

%heading-splash-1 {
  @include heading-splash-1;
}

%heading-splash-2 {
  @include heading-splash-2;
}

%body-splash-1 {
  @include body-splash-1;
}

%body-splash-2 {
  @include body-splash-2;
}
