@use 'fonts';
@use 'mixins';
@use 'colors';

@mixin heading-1 {
  @include mixins.typography(54px, $font-weight: 500);

  letter-spacing: 0.2em;
  line-height: 74px;
}

@mixin heading-2 {
  @include mixins.typography(48px, $font-weight: 500);

  line-height: 62px;
}

@mixin title-1 {
  @include mixins.typography(32px, $font-weight: 600);

  line-height: 38px;
}

@mixin title-2 {
  @include mixins.typography(24px, $font-weight: 600);

  line-height: 32px;
}

@mixin title-3 {
  @include mixins.typography(20px, $font-weight: 600);

  line-height: 28px;
}

@mixin paragraph-1 {
  @include mixins.typography(26px, $font-weight: 500);

  line-height: 34px;
}

@mixin body-1 {
  @include mixins.typography(24px, $font-weight: 500);

  line-height: 36px;
}

@mixin body-2 {
  @include mixins.typography(16px, $font-weight: 500);

  line-height: 20px;
}

@mixin caption-1 {
  @include mixins.typography(14px, $font-weight: 400);

  line-height: 20px;
}

@mixin caption-2 {
  @include mixins.typography(12px, $font-weight: 500);

  line-height: 20px;
}

@mixin button-1 {
  @include mixins.typography(14px, $font-weight: 600);

  line-height: 18px;
}

// Animation

@mixin glitch {
  position: relative;
  text-align: center;

  &::before,
  &::after {
    background: linear-gradient(
      36.32deg,
      colors.$red 2.7%,
      colors.$yellow 22.1%,
      colors.$green 40.55%,
      colors.$blue 59.01%,
      colors.$purple 76.52%,
      colors.$red-dark 92.14%
    );
    background-clip: text;
    content: attr(data-text);
    height: 100%;
    left: -2px;
    position: absolute;
    -webkit-text-fill-color: transparent;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::before {
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
    clip: rect(24px, 550px, 90px, 0);
    left: 2px;
  }

  &::after {
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
    clip: rect(85px, 550px, 140px, 0);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(72px, 9999px, 119px, 0);
  }

  4.166666666666666% {
    clip: rect(63px, 9999px, 133px, 0);
  }

  8.333333333333332% {
    clip: rect(120px, 9999px, 1px, 0);
  }

  12.5% {
    clip: rect(71px, 9999px, 115px, 0);
  }

  16.666666666666664% {
    clip: rect(17px, 9999px, 127px, 0);
  }

  20.833333333333336% {
    clip: rect(79px, 9999px, 3px, 0);
  }

  25% {
    clip: rect(116px, 9999px, 59px, 0);
  }

  29.166666666666668% {
    clip: rect(136px, 9999px, 61px, 0);
  }

  33.33333333333333% {
    clip: rect(19px, 9999px, 110px, 0);
  }

  37.5% {
    clip: rect(15px, 9999px, 144px, 0);
  }

  41.66666666666667% {
    clip: rect(37px, 9999px, 47px, 0);
  }

  45.83333333333333% {
    clip: rect(51px, 9999px, 82px, 0);
  }

  50% {
    clip: rect(98px, 9999px, 144px, 0);
  }

  54.166666666666664% {
    clip: rect(72px, 9999px, 92px, 0);
  }

  58.333333333333336% {
    clip: rect(93px, 9999px, 5px, 0);
  }

  62.5% {
    clip: rect(29px, 9999px, 136px, 0);
  }

  66.66666666666666% {
    clip: rect(25px, 9999px, 32px, 0);
  }

  70.83333333333334% {
    clip: rect(136px, 9999px, 122px, 0);
  }

  75% {
    clip: rect(36px, 9999px, 51px, 0);
  }

  79.16666666666666% {
    clip: rect(31px, 9999px, 143px, 0);
  }

  83.33333333333334% {
    clip: rect(73px, 9999px, 6px, 0);
  }

  87.5% {
    clip: rect(36px, 9999px, 143px, 0);
  }

  91.66666666666666% {
    clip: rect(137px, 9999px, 124px, 0);
  }

  95.83333333333334% {
    clip: rect(44px, 9999px, 26px, 0);
  }

  100% {
    clip: rect(21px, 9999px, 17px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(72px, 9999px, 119px, 0);
  }

  4.166666666666666% {
    clip: rect(63px, 9999px, 133px, 0);
  }

  8.333333333333332% {
    clip: rect(120px, 9999px, 1px, 0);
  }

  12.5% {
    clip: rect(71px, 9999px, 115px, 0);
  }

  16.666666666666664% {
    clip: rect(17px, 9999px, 127px, 0);
  }

  20.833333333333336% {
    clip: rect(79px, 9999px, 3px, 0);
  }

  25% {
    clip: rect(116px, 9999px, 59px, 0);
  }

  29.166666666666668% {
    clip: rect(136px, 9999px, 61px, 0);
  }

  33.33333333333333% {
    clip: rect(19px, 9999px, 110px, 0);
  }

  37.5% {
    clip: rect(15px, 9999px, 144px, 0);
  }

  41.66666666666667% {
    clip: rect(37px, 9999px, 47px, 0);
  }

  45.83333333333333% {
    clip: rect(51px, 9999px, 82px, 0);
  }

  50% {
    clip: rect(98px, 9999px, 144px, 0);
  }

  54.166666666666664% {
    clip: rect(72px, 9999px, 92px, 0);
  }

  58.333333333333336% {
    clip: rect(93px, 9999px, 5px, 0);
  }

  62.5% {
    clip: rect(29px, 9999px, 136px, 0);
  }

  66.66666666666666% {
    clip: rect(25px, 9999px, 32px, 0);
  }

  70.83333333333334% {
    clip: rect(136px, 9999px, 122px, 0);
  }

  75% {
    clip: rect(36px, 9999px, 51px, 0);
  }

  79.16666666666666% {
    clip: rect(31px, 9999px, 143px, 0);
  }

  83.33333333333334% {
    clip: rect(73px, 9999px, 6px, 0);
  }

  87.5% {
    clip: rect(36px, 9999px, 143px, 0);
  }

  91.66666666666666% {
    clip: rect(137px, 9999px, 124px, 0);
  }

  95.83333333333334% {
    clip: rect(44px, 9999px, 26px, 0);
  }

  100% {
    clip: rect(21px, 9999px, 17px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(76px, 9999px, 34px, 0);
  }

  10% {
    clip: rect(133px, 9999px, 0, 0);
  }

  13.333333333333334% {
    clip: rect(10px, 9999px, 97px, 0);
  }

  16.666666666666664% {
    clip: rect(4px, 9999px, 128px, 0);
  }

  20% {
    clip: rect(61px, 9999px, 9px, 0);
  }

  23.333333333333332% {
    clip: rect(148px, 9999px, 109px, 0);
  }

  26.666666666666668% {
    clip: rect(114px, 9999px, 148px, 0);
  }

  30% {
    clip: rect(65px, 9999px, 15px, 0);
  }

  33.33333333333333% {
    clip: rect(144px, 9999px, 44px, 0);
  }

  36.666666666666664% {
    clip: rect(121px, 9999px, 102px, 0);
  }

  40% {
    clip: rect(0, 9999px, 77px, 0);
  }

  43.333333333333336% {
    clip: rect(107px, 9999px, 27px, 0);
  }

  46.666666666666664% {
    clip: rect(109px, 9999px, 111px, 0);
  }

  50% {
    clip: rect(119px, 9999px, 106px, 0);
  }

  53.333333333333336% {
    clip: rect(28px, 9999px, 94px, 0);
  }

  56.666666666666664% {
    clip: rect(140px, 9999px, 140px, 0);
  }

  60% {
    clip: rect(76px, 9999px, 119px, 0);
  }

  63.33333333333333% {
    clip: rect(98px, 9999px, 11px, 0);
  }

  66.66666666666666% {
    clip: rect(64px, 9999px, 54px, 0);
  }

  70% {
    clip: rect(114px, 9999px, 118px, 0);
  }

  73.33333333333333% {
    clip: rect(6px, 9999px, 26px, 0);
  }

  76.66666666666667% {
    clip: rect(66px, 9999px, 105px, 0);
  }

  80% {
    clip: rect(119px, 9999px, 77px, 0);
  }

  83.33333333333334% {
    clip: rect(136px, 9999px, 65px, 0);
  }

  86.66666666666667% {
    clip: rect(123px, 9999px, 106px, 0);
  }

  90% {
    clip: rect(101px, 9999px, 34px, 0);
  }

  93.33333333333333% {
    clip: rect(131px, 9999px, 133px, 0);
  }

  96.66666666666667% {
    clip: rect(21px, 9999px, 79px, 0);
  }

  100% {
    clip: rect(63px, 9999px, 6px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(76px, 9999px, 34px, 0);
  }

  10% {
    clip: rect(133px, 9999px, 0, 0);
  }

  13.333333333333334% {
    clip: rect(10px, 9999px, 97px, 0);
  }

  16.666666666666664% {
    clip: rect(4px, 9999px, 128px, 0);
  }

  20% {
    clip: rect(61px, 9999px, 9px, 0);
  }

  23.333333333333332% {
    clip: rect(148px, 9999px, 109px, 0);
  }

  26.666666666666668% {
    clip: rect(114px, 9999px, 148px, 0);
  }

  30% {
    clip: rect(65px, 9999px, 15px, 0);
  }

  33.33333333333333% {
    clip: rect(144px, 9999px, 44px, 0);
  }

  36.666666666666664% {
    clip: rect(121px, 9999px, 102px, 0);
  }

  40% {
    clip: rect(0, 9999px, 77px, 0);
  }

  43.333333333333336% {
    clip: rect(107px, 9999px, 27px, 0);
  }

  46.666666666666664% {
    clip: rect(109px, 9999px, 111px, 0);
  }

  50% {
    clip: rect(119px, 9999px, 106px, 0);
  }

  53.333333333333336% {
    clip: rect(28px, 9999px, 94px, 0);
  }

  56.666666666666664% {
    clip: rect(140px, 9999px, 140px, 0);
  }

  60% {
    clip: rect(76px, 9999px, 119px, 0);
  }

  63.33333333333333% {
    clip: rect(98px, 9999px, 11px, 0);
  }

  66.66666666666666% {
    clip: rect(64px, 9999px, 54px, 0);
  }

  70% {
    clip: rect(114px, 9999px, 118px, 0);
  }

  73.33333333333333% {
    clip: rect(6px, 9999px, 26px, 0);
  }

  76.66666666666667% {
    clip: rect(66px, 9999px, 105px, 0);
  }

  80% {
    clip: rect(119px, 9999px, 77px, 0);
  }

  83.33333333333334% {
    clip: rect(136px, 9999px, 65px, 0);
  }

  86.66666666666667% {
    clip: rect(123px, 9999px, 106px, 0);
  }

  90% {
    clip: rect(101px, 9999px, 34px, 0);
  }

  93.33333333333333% {
    clip: rect(131px, 9999px, 133px, 0);
  }

  96.66666666666667% {
    clip: rect(21px, 9999px, 79px, 0);
  }

  100% {
    clip: rect(63px, 9999px, 6px, 0);
  }
}

%heading-1 {
  @include heading-1;
}

%heading-2 {
  @include heading-2;
}

%title-1 {
  @include title-1;
}

%title-2 {
  @include title-2;
}

%title-3 {
  @include title-3;
}

%paragraph-1 {
  @include paragraph-1;
}

%body-1 {
  @include body-1;
}

%body-2 {
  @include body-2;
}

%caption-1 {
  @include caption-1;
}

%caption-2 {
  @include caption-1;
}

%button-1 {
  @include button-1;
}

%glitch {
  @include glitch;
}
