@use 'styles/animations';
@use 'styles/colors';
@use 'styles/mixins' as *;

.root {
  position: relative;
  text-align: center;
  z-index: 0;
}

.text {
  display: inline-block;
  position: relative;
}

.gradient {
  background: linear-gradient(
    270deg,
    #ff3f3f -1.98%,
    #feeb3c 20.51%,
    #71ff3f 41.91%,
    #3e8bff 63.31%,
    #e43eff 83.61%,
    #ff3e3e 101.71%
  );
  background-clip: text;
  background-clip: text;
  left: -1px;
  position: absolute;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  top: 0;
  white-space: nowrap;
  z-index: -1;
}

.glitch {
  display: inline-block;
  position: relative;
  text-align: center;
}

.glitch {
  &::before,
  &::after {
    background-color: transparent;
    content: attr(data-text);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::before {
    animation: glitch-anim-2 2s linear;
    left: 3px;
    opacity: 0;
    text-shadow: -3px 0 2px #a8e063;
  }

  &::after {
    animation: glitch-anim 1.5s linear;
    left: -3px;
    opacity: 0;
    text-shadow: -3px 0 2px #a88ffb;
  }
}

.subHeading {
  position: relative;
  z-index: 1;

  &::after {
    background: linear-gradient(
      270deg,
      #ff3f3f -1.98%,
      #feeb3c 20.51%,
      #71ff3f 41.91%,
      #3e8bff 63.31%,
      #e43eff 83.61%,
      #ff3e3e 101.71%
    );
    background-clip: text;
    background-size: 100%;
    content: attr(data-text);
    left: calc(50% - 2px);
    position: absolute;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }
}

.shadow {
  background: linear-gradient(180deg, #fafafa 0%, rgb(255 255 255 / 0%) 100%);
  background-color: #fafafac9;
  box-shadow: 0 0 30px 130px #fafafa;
  height: 380px;
  position: absolute;
  top: 0;
  width: 100%;

  @include small-tablet {
    box-shadow: 0 0 80px 180px #fafafa;
    height: 180px;
  }

  @include large-tablet {
    box-shadow: 0 0 100px 160px #fafafa;
    height: 300px;
  }
}
